default::https://raw.githubusercontent.com/builtwithai/cuim/main
recent::https://raw.githubusercontent.com/builtwithai/cuim/main/node_db/new
legacy::https://raw.githubusercontent.com/builtwithai/cuim/main/node_db/legacy
forked::https://raw.githubusercontent.com/builtwithai/cuim/main/node_db/forked
dev::https://raw.githubusercontent.com/builtwithai/cuim/main/node_db/dev
tutorial::https://raw.githubusercontent.com/builtwithai/cuim/main/node_db/tutorial